.container {
    background-color: #F8F9FA;
    margin: 0 auto;
    max-width: 700px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    padding: 1em;
  }

  .centerform {
    text-align: center;
  }

  .App {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.App-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
}

@media (min-width: 650px ) {
    .App {
        background-position: center center;
    }

    .App-content {
        align-items: center;
        justify-content: top;
    }
}

/* Links */



/* Fonts */

*{
  font-family:Verdana;
}

